body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */
#header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

#logo {
    font-size: 24px;
}

/* Search bar */
#search-bar {
    background-color: #f2f2f2;
    padding: 20px 0;
    text-align: center;
}

#search-input {
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-right: 10px;
    font-size: 16px;
}

#search-button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

/* Free Courses Section */
#courses-box {
    margin: 20px auto;
    text-align: center;
}

.course-images {
    display: flex;
    justify-content: center;
}

.course {
    margin: 0 10px;
}

.course-name {
    margin-top: 10px;
}

/* Footer Section */
#footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
